*{
    padding: 0;
    margin: 0;
}
/*Como aplicar un style a una etiqueta especial*/
body{
    /*Font-family: Cambia la letra el tipo*/
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgb(59, 178, 199);
}
h1{
    color: rgb(212, 12, 12);
    background-color: rgb(2, 17, 17);
    font-weight: bold;
    text-align: center;
}
section{
    background-color: gold;
    border: 3px rgb(113, 163, 27) solid;
}
article p{
    color: rgb(38, 8, 204);
    /*Text-align: Permite pones lo textos en derecha izquierda centro y justificado*/
    text-align: center;
    font-size: 20px;
}
li{
    color: rgb(40, 30, 41);
}
ul{
    background-color: grey;
    border: 2px solid darkorange;
    text-align: right;
}
ul li{
    
    list-style: none;
    /* Propiedad en la que se puede mostrar un elemento*/
    display: inline;
}
img{
    width: 50%;
    height: 300px;   
}
div{
    border: 5px solid darkolivegreen;
    text-align: center;
}
a{
    color: darkred;
    text-decoration:none;
}

/* Para un ID usamos en #mas el nombre */
#titulo{
    color: rgb(38, 8, 204);
}


.Texto__page{
    color: rosybrown;
}
#logo{
    width: 200px;
    height: 100px;
    border: 1px solid rgb(116, 24, 100);

}